* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

html, body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.backgroundDesign {
    display:block;
    max-width: 100%;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}

.bannerCast {
    width:100%
}

.logo{
    height:2em;
    padding:4em;
    margin:0;
    float:left;
    padding-left: 7em;
    padding-top:0.5em;
}

header {
    display:block;
    position:fixed;
    top:0;
    width:100%;
    height: 3.125em;
    padding-top: 0.1875em;
    background-color: rgba(0, 0, 0, 0.74);
    
}

.homePageHeader{
    background-color: transparent;
}

nav{
    float:right;
    padding-right: 0.625em;
    padding-top:0.625em;
    overflow: hidden;
}

nav a:visited, nav a:link{
    color: white;
    text-decoration: none;
    font-family: 'arial';
}

nav > ul {
    display: flex;
    padding:0;
}

nav > ul > li {
    display:block;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    list-style: none;
    margin: 0.3125em;    
}

nav a:hover,  a:hover{
    color:rgb(0, 0, 0);
}

nav a:active{
    border: 0.0625em solid rgb(255, 255, 255);
    border-radius: 0.625em;
}

.menu{
    display: none;
}

.homePage {
    padding-top:15em;
    text-align: center;
    height:57%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family:'Oswald Regular';
    font-size: 3.75em;
}

h2{
    color: rgb(0, 0, 0);
    font-family:'Oswald Regular';
    font-size: 3em;

}

h3{
    font-size: 2.5em;
    padding-bottom: 0.1em;
}

.subtitle {
    color:rgb(221, 220, 220, 0.5);
    font-family: 'Arial';
    font-size: 0.625em;
}

.border{
    max-height: 1.0625em;
    opacity: 0.8;
}

.whiteBtn {
    font-family: "Arial";
    background-color: transparent;
    color:rgb(255, 255, 255);
    font-size: 1.25em;
    padding: 0.625em 3.125em;
    border-radius: 0.3125em;
    border: 0.1875em solid rgb(255, 255, 255);
    margin-top:1.875em;
    cursor:pointer;
    
}

button a:visited, button a:link{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'arial';
}

.homePageFooter{
    text-align: right;
    display: absolute;
    font-size: 1.5625em;
    padding-right: 1.25em;

}

.homePageFooter ul{
    color:white;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;

}

footer ul li{
    list-style: none;
    display: flex;

}

.homePageFooter a{
    color:white;
    padding: 0.625em 1.25em;
}

.banner{
    width:100%;
    position: relative;
    background: url(OfflineTVImage2.jpg);
    height: 500px;
  }
  .bannerTitle{
    bottom: 0;
    padding-left: 3em;
  }

article {
    display: flex;
    padding: 2em 12em;
}

.articlePhoto{
    max-height: 23em;
}

.articleTitle, .castName{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-style: bold;

}

.quote{
    border-left: 0.12em solid rgba(78, 78, 78, 0.534);
    padding:1em 0.5em;
    margin: 1em 0;
    font-family: 'Gelasio', serif;
    font-style: italic;
    line-height: 1.5em;
}

.articleText, .castDescription{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 0 1em;
    margin: auto;
    text-align: justify;
}

.articleDescription{
    font-size: 0.9em;
    color: rgb(20, 20, 20);
}

.blackH1{
    color: black;
}

.centerText{
    padding: 0.5em 14em;
    text-align: center;
}

.dotSize{
    max-height: 2em;
}

table{
    width:100%;
    table-layout: fixed;
    padding: 0 14em;
    margin:auto;
    padding-top: 3em;
}

.cast {
table-layout: auto;
}

.centerCircle{
    width:15%;
    text-align: center;
    height:10em;
}


.seasonNumber {
    font-style: bold;
    font-size: 2em;
    
}

.seasonRight {
    text-align: right;
}

.tableText {
    padding: 1.1em;
    color: whitesmoke;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.7);
}

.genFooter{
    padding: 1em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
}

.merchFooter{
    position: absolute;
    bottom: 0;
    right: 0;
}

footer p {
    padding-bottom: 0.4em;
}

footer a{
    padding: 0 1em;
    padding-bottom: 0.5em;
    color:rgb(255, 255, 255);
    font-size: 1.5em;
}

footer ul{
    display: flex;
    align-items:center;
    justify-content: center;

}

.castImage {
    max-width: 20em;
    padding: 2em 0;
}

.castName{
    font-size: 2em;
    padding: 0 1em;
}

.castDescription {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.74);
    padding: 0 2em;
}

.castImageRight {
    text-align: right;
}




@media screen and (max-width:700px){
    nav a:not(.menu){
        display: none;
    }

    .menu{
        display:block;
    }

    .logo{
        padding-left: 2em;
    }

    h1{
        font-size: 2.5em;
    }
    
    .subtitle{
        font-size: 0.8125em;
    }

    body{
        background-position: center;
    }

    .homePageFooter{
        padding-right: 0.5em;
    }

    .homePageFooter a{
        padding-left: 0.5em;
        padding-right: 0.5em;

    }

    header {
        background-color: rgb(0, 0, 0);
        height: 2.9em;
        padding-top:0;
    }

    .banner{
        padding-top: 2.9em;
        position: block;
    }

    .bannerTitle{
        position: block;
        color: black;
        top:4.5em;
        padding-left: 0.2em;
        }
    
}